In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('dataex.csv')

In [5]:
df.head()

   Y  X1  X2
0  1  40  25
1  2  45  20
2  1  38  30
3  3  50  30
4  2  48  28

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Y       20 non-null     int64
 1   X1      20 non-null     int64
 2   X2      20 non-null     int64
dtypes: int64(3)
memory usage: 608.0 bytes

In [17]:
X, Y = df[['X1', 'X2']].values, df['Y'].values.reshape(-1, 1)

In [9]:
X1, X2 = X[:, 0], X[:, 1]

In [14]:
np.sum(X2 * X2) - np.sum(X2) ** 2 / len(X1)

521.75

In [16]:
np.sum(X1 * X2) - np.sum(X1) * np.sum(X2) / len(X1)

515.5

In [31]:
np.sum(X2 * Y) - np.sum(X2) * np.sum(Y) / len(X1)

40446.25

In [30]:
(np.sum(X1)) * np.sum(Y) / len(X1)

3373.5

In [28]:
np.sum(X1 * Y)

67470